<h1>Has Buscado: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="personajes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino}}
        </div>
    </div>
</div>


<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let personaje of personajes; let i = index">
        <img [src]="personaje.img" class="card-img-top img-fluid" [alt]="personaje.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ personaje.nombre }}</h5>
            <p class="card-text">{{ personaje.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ personaje.region }}</small></p>


            <!--<a [routerLink]="['/personaje', i]" class="btn btn-outline-primary">Ver más link...</a>-->
        </div>
    </div>

</div>